@charset "utf-8";
/* CSS Document */
	.ArticleText{
				text-align: center;
				font-family: KaiTi;
				font-size: 17px;
				text-indent: 2em}
	.ArticleTitle{
				text-align: center;
				font-family: kaiti;
				font-size: 20px;}
	.Footer{text-align: center;
				font-family: kaiti;
				font-size: 15px;
				background-color: #16B8E2;
				height: 50px;
				padding-top: 20px}
	.TitieBox{
				text-align: center;
				font-family: heiti;
				font-size: 20px;
				text-indent: 2em}
	.TextBox{font-size: 18px;
				color:#000000;
				margin: 100px;
				width: 1200px;
				margin-left: 650px；
				text-align: center;}
	.Header{text-align: center;
				font-family: kaiti;
				font-size: 30px;
				color: #020202;
				font-weight: bold;
				width: 220px;
				margin-left: 65px;
				margin: 100px;}
	.aside{text-align: center;
				font-family: KaiTi;
				font-size: 15Px;
				background-color: #16B8E2;}
	.daohanglan{text-align: right;
				font-family: HeiTi;
				font-size: 15Px;}
	.button{position: relative
				;right: 2px;
				width: 50px;
				height: 25px;
				font-size: 14px;
				color: white; 
				background: #A1AA24;
				border: 0;
				border-radius: 2px;}
	.frame{border-radius: 8px;}
	a:hover{background-color: yellowgreen}
